*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    cursor: url('https://i.imgur.com/VKNnaaw.png'), auto;
    /* background-image: url(https://coolwallpapers.me/picsup/416886-landscape-wallpaper-free-desktop-wallpapers.gif); */
}

.container {
    background-image: url('https://i.imgur.com/PKn5Me2.png');
    background-size: cover;
    background-color: rgb(112, 65, 8);
    opacity: 0.7;
    width: 1000px;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 10px 2px;
    margin: 0 0 85px 0;
    border-style: solid;

}

.buttons-menu {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 1;
}

button {
    /* background-image: url('https://i.imgur.com/Wrudj45.png'); */
    background-size: cover;
    background-color: rgb(41, 32, 7);
    height: 80px;
    width: 220px;
    border: 2px solid rgb(176, 176, 243);
    border-radius: 4px;
    padding: 5px 10px;
    color: rgb(240, 240, 240);
    position: relative;
    z-index: 10;
    outline: none;
    opacity: 1;
    font-family: 'Aladin', cursive;;
    font-size: 25px;
    font-weight: bold;
}

button:hover {
    border-color: turquoise;

}

#story-text {
    /* width: 100ch; */
    /* animation: typing 1.5s steps(30), blink .5s step-end infinite alternate; */
    /* border-right: 3px solid; */
    /* font-size: 2em; */
    opacity: 1;
    white-space: wrap;
    overflow: hidden;
    font-family: 'Berkshire Swash', cursive;
    color: rgb(107, 228, 250);
    font-size: 32px;
    text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

@keyframes typing {
from {
  width: 0
}
}

img {
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-image: url(https://i.imgur.com/xUZ8qt3.png); */
    position: absolute;
    left: 1050px;
    z-index: -10;
    /* height: 850px;
     width: 100px; */
     /* overflow: hidden; */
    /* height: 100px; */
    /* width: 100px; */
}
